<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	
</head>

<body>
	<div th:insert="fragments/header :: header"></div>
	<h1>Welcome to Josh Software!!!!</h1>
	 <h2>We are best at what we do!</h2> 
    <h5>Leveraging our global expertise in digital transformation services and deep familiarity with state-of-the-art technologies,</h5>
	<h5>we help businesses modernize their technological foundations and create innovative digital products.</h5>
	<h5>And we’re especially proud that we’ve hosted some of the most innovative, cutting-edge technology conferences in recent years.</h5>

</body>
</html>